.container{
    margin-bottom: 100px;
}


.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}

.cat1{
    background-color: #FF136F;
    padding: 10px 30px;
   

}
.cat2{

    background-color: #dbdf0b;
    padding: 10px 30px;
    
}
.cat3{
    background-color: #910bff;
    padding: 10px 30px;
    
}

.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
} 

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    
}
#subscribe{
    height: 300px;


}
#subscribe h6{
    color: gray;
}
.footer{
    text-align: center;
}